body {
    font-family: "RobotoDraft", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 300;
    background-color: #ececec;
}

/* HEADER */
.header {
    width: 100%;
    min-height: 400px;
    background: #607D8B;
    background: -moz-linear-gradient(left, #607D8B 0%, #6e8d9c 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, #607D8B), color-stop(100%, #6e8d9c));
    background: -webkit-linear-gradient(left, #607D8B 0%, #6e8d9c 100%);
    background: -o-linear-gradient(left, #607D8B 0%, #6e8d9c 100%);
    background: -ms-linear-gradient(left, #607D8B 0%, #6e8d9c 100%);
    background: linear-gradient(to right, #607D8B 0%, #6e8d9c 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#607D8B', endColorstr='#6e8d9c', GradientType=1);
    line-height: 0;
}

.header .header-logo {
    height: 100px;
    weight:100px
}

.header .header-title {
    color: #fff;
    font-family: 'Roboto Slab', sans-serif;
    font-size: 47px;
    font-weight: 400;
    -webkit-margin-after: 0.5em;
}

.header .header-subtitle {
    color: #aebec6;
    font-family: 'Roboto', 'Noto', sans-serif;
    font-weight: 300;
}

@media only screen and (max-width: 400px) {
    .header .header-title {
        font-size: 37px;
    }
    .header .header-subtitle {
        font-size: 18px;
    }
}

/* SEARCH */
.search {
    background: #cfd8dc;
    font-size: 24px;
    margin: 30px 30px;
    overflow: hidden;
    position: relative;
    vertical-align: top;
    z-index: 1;
    width: 90%;
    max-width: 420px;
}

.search-field {
    background: transparent;
    border-radius: 0;
    border: none;
    color: #aebec6;
    display: block;
    float: right;
    font-size: 24px;
    font-weight: 500;
    padding: 0.8em;
    position: relative;
    width: 100%;
    z-index: 10;
}

.search-field:focus {
    outline: none;
}

.search-label {
    color: #fff;
    display: inline-block;
    float: right;
    font-size: 70.25%;
    font-weight: 500;
    /* 0.6em */
    padding: 0.6em 1em;
    pointer-events: none;
    position: absolute;
    text-align: left;
    width: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.search-label::before {
    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    top: 45%;
    left: 20px;
    background: url("../images/search.png") no-repeat center center;
    background-size: 100%;
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
}

.search-label-content {
    display: block;
    padding: 1.5em 0 0 2.75em;
    position: relative;
    width: 100%;
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
}

.search-field:focus + .search-label::before,
.search-filled .search-label::before {
    -webkit-transform: scale3d(38, 38, 1);
    transform: scale3d(38, 38, 1);
}

/* PAPER-TABS */
paper-tabs {
    background-color: #455A64;
    background: -moz-linear-gradient(left, #455A64 0%, #4b616b 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, #455A64), color-stop(100%, #4b616b));
    background: -webkit-linear-gradient(left, #455A64 0%, #4b616b 100%);
    background: -o-linear-gradient(left, #455A64 0%, #4b616b 100%);
    background: -ms-linear-gradient(left, #455A64 0%, #4b616b 100%);
    background: linear-gradient(to right, #455A64 0%, #4b616b 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#455A64', endColorstr='#4b616b', GradientType=1);
    color: #fff;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
    height: 70px;
}

paper-tabs paper-tab a {
    color: white;
    font-family: Arial;
    font-size: 18px;
    text-decoration: none;
}