html, body, #container { height: 100%; }

body > #container { height: auto; min-height: 100%; }

body {
    font-family: "RobotoDraft", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 300;
    background-color: #ececec;
    opacity:.9999
}

/* ==========================================================================
   HEADER
   ========================================================================== */
.header[center] {
    width: 100%;
    min-height: 400px;
    background: #607D8B;
    background: -moz-linear-gradient(left, #607D8B 0%, #6e8d9c 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, #607D8B), color-stop(100%, #6e8d9c));
    background: -webkit-linear-gradient(left, #607D8B 0%, #6e8d9c 100%);
    background: -o-linear-gradient(left, #607D8B 0%, #6e8d9c 100%);
    background: -ms-linear-gradient(left, #607D8B 0%, #6e8d9c 100%);
    background: linear-gradient(to right, #607D8B 0%, #6e8d9c 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#607D8B', endColorstr='#6e8d9c', GradientType=1);
    line-height: 0;
}

.header[center] img {

}

.header[center] .header-logo {
    height: 100px;
    weight:100px
}

.header[center] .header-title {
    color: #fff;
    font-family: 'Roboto Slab', sans-serif;
    font-size: 47px;
    font-weight: 400;
    -webkit-margin-after: 0.5em;
}

.header[center] .header-subtitle {
    color: #aebec6;
    font-family: 'Roboto', 'Noto', sans-serif;
    font-weight: 300;
}

@media only screen and (max-width: 400px) {
    .header[center] .header-title {
        font-size: 37px;
    }
    .header[center] .header-subtitle {
        font-size: 18px;
    }
}

/* ==========================================================================
   SEARCH
   ========================================================================== */
.search {
    background: #cfd8dc;
    font-size: 24px;
    margin: 30px 30px;
    overflow: hidden;
    position: relative;
    vertical-align: top;
    z-index: 1;
    width: 90%;
    max-width: 420px;
}

.search-field {
    background: transparent;
    border-radius: 0;
    border: none;
    color: #aebec6;
    display: block;
    float: right;
    font-size: 24px;
    font-weight: 500;
    padding: 0.8em;
    position: relative;
    width: 100%;
    z-index: 10;
}

.search-field:focus {
    outline: none;
}

.search-label {
    color: #fff;
    display: inline-block;
    float: right;
    font-size: 70.25%;
    font-weight: 500;
    /* 0.6em */
    padding: 0.6em 1em;
    pointer-events: none;
    position: absolute;
    text-align: left;
    width: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.search-label::before {
    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    top: 45%;
    left: 20px;
    background: url("../images/search.png") no-repeat center center;
    background-size: 100%;
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
}

.search-label-content {
    display: block;
    padding: 1.5em 0 0 2.75em;
    position: relative;
    width: 100%;
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
}

.search-field:focus + .search-label::before,
.search-filled .search-label::before {
    -webkit-transform: scale3d(38, 38, 1);
    transform: scale3d(38, 38, 1);
}

/* ==========================================================================
   PAPER-TABS
   ========================================================================== */
paper-tabs {
    background-color: #455A64;
    background: -moz-linear-gradient(left, #455A64 0%, #4b616b 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, #455A64), color-stop(100%, #4b616b));
    background: -webkit-linear-gradient(left, #455A64 0%, #4b616b 100%);
    background: -o-linear-gradient(left, #455A64 0%, #4b616b 100%);
    background: -ms-linear-gradient(left, #455A64 0%, #4b616b 100%);
    background: linear-gradient(to right, #455A64 0%, #4b616b 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#455A64', endColorstr='#4b616b', GradientType=1);
    color: #fff;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
    height: 70px;
}

paper-tabs paper-tab a {
    color: white;
    font-family: Arial, serif;
    font-size: 18px;
    text-decoration: none;
}

/* ==========================================================================
   POST-LIST
   ========================================================================== */
.posts .item {
    width: 60%;
    min-height: 200px;
    margin: 80px auto;
    padding: 40px 0 20px 20px;
    /*border-radius: 4px;*/
    background-color: #fafafa;
    /*border: 1px solid #ddd;*/
    transition: box-shadow 0.1s;
    box-shadow: 0 2px 5px #888888;
}

.posts .item:hover {
    /*box-shadow: 0 5px 15px #888888;*/
}

.posts .avatar {
    display: block;
    margin-right: 20px;
    margin-left: 40px;
    height: 15%;
    width: 15%;
    min-height: 200px;
    min-width: 200px;
    border-radius: 100px;
    box-sizing: border-box;
    background-color: #DDD;
    border: 3px solid #475c66;
}

.posts .pad {
    padding: 0 16px;
}

.posts .title {
    font-size: 24px;
    font-weight: bold;
}

.posts .subject {
    font-size: 14px;
    font-weight: lighter;
    color: #8d8787;
}

.posts .description {
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 300;
}

.posts .date {
    font-size: 14px;
    font-weight: lighter;
    color: #727272;
    margin-bottom: 20px;
}

.read-button::shadow paper-ripple {
    color: gray;
}

.read-button:hover {
    background: #eee;
}

.read-button {
    font-weight: 400;
    color: #333333;
    min-width: 110px;
    text-align: left;
}

.read-button iron-icon {
    color: #333333;
    margin-right: 5px;
}

neon-animated-pages {
    /*overflow-x: hidden;*/
    min-width: 100%;
    min-height: 100%;
}

#rippler {
    display: inline-table;
}

@media only screen and (max-width: 1000px) {
    .posts .avatar {
        display: none;
    }
}

@media only screen and (max-width: 800px) {
    .posts .item {
        width: 70%;;
    }
}

@media only screen and (max-width: 700px) {
    .posts .item {
        width: 80%;;
    }
}

@media only screen and (max-width: 600px) {
    .posts .item {
        width: 90%;;
    }
}

/* ==========================================================================
   ABOUT
   ========================================================================== */
.about {
    overflow-x: hidden;
    margin-top: 75px;
}

.about .item {
    width: 40%;
    min-height: 200px;
    margin: 80px auto;
    padding: 30px 120px 30px 120px;
    background-color: #fafafa;
    transition: box-shadow 0.1s;
    box-shadow: 0 2px 5px #888888;
}

.about .avatar {
    display: block;
    border-radius: 200px;
    box-sizing: border-box;
    background-color: #DDD;
    border: 5px solid #cfd8dc;
    /*box-shadow: 0 2px 5px #888888;*/
}

.about img {
    margin: 20px;
    height: 200px;
    width: 200px
}

.about .name {
    margin: 5px;
    color: #63808f;
    font-size: 24px;
    font-weight: 400;
}

.about .location {
    margin: 5px;
    color: #63808f;
    font-size: 18px;
    font-weight: 400;
}

.about .social {
    margin: 15px;
}
.about .social iron-icon {
    margin-right: 15px;
}

.about .social iron-icon:hover {
    fill: #CFD8DC;
}

.about iron-icon {
    fill: #607D8B;
}

.about .pad {
    padding: 0 16px;
}

.about .description {
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 300;
}

@media only screen and (max-width: 800px) {
    .about .item {
        width: 70%;;
        padding: 40px 0 20px 20px;
    }
}

@media only screen and (max-width: 700px) {
    .about .item {
        width: 80%;;
    }
}

@media only screen and (max-width: 600px) {
    .about .item {
        width: 90%;;
    }
}

/* ==========================================================================
   FOOTER
   ========================================================================== */
.footer {
    clear: both;
    position: relative;
    z-index: 10;
    width: 100%;
    min-height: 320px;
    background: #e4e0e0;
    border-top: 1px solid #c8c8c8;
}

#footer-container {
    padding-top: 100px;
}

#footer-container paper-button::shadow paper-ripple {
    color: gray;
}

#footer-container paper-button {
    font-weight: 300;
    color: #757575;
}

#footer-container paper-button iron-icon {
    color: #565656;
}

.footer #licence {
    padding-top: 100px;
    font-weight: 300;
    font-size: 15px;
    color: #757575;
}